* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: null !important;
  background-position: null !important;
  background-repeat: repeat !important;
  background-image: url("../images/background.jpg") !important;
  background-size: cover;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 776px;
  height: 654px;
}

.header {
  position: relative;
  cursor: default;
  z-index: 1;
  width: 776px;
  height: 100px;
  font-size: 100px;
  font-family: 'Butcherman';
  color: #fff;
  line-height: 115%;
  text-align: center;
  background: transparent;
  user-select: none;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #5D1484,
  0 0 30px #5D1484,
  0 0 40px #5D1484,
  0 0 55px #5D1484,
  0 0 75px #5D1484;;
}

.slots {
  width: 776px;
  height: 474px;
  margin: 0 auto;
  background-color: yellow;
  box-shadow: 0 0 5px #fff,
  0 0 20px #5D1484,
  0 0 30px #5D1484,
  0 0 40px #5D1484,
  0 0 55px #5D1484;
}

.wrapper {
  width: 776px;
  position: relative;
  align-content: center;
  margin: 0 auto;
  overflow: hidden;
  height: 474px;
  padding: 0 3px;
  background-color: #5D1484;
}

.outer-col {
  width: 150px;
  float: left;
  margin: 0 2px;
  background: url("../images/col-backgtound.jpg");
}

.col {
  padding: 10px;
  will-change: true;
}

.zombies {
  width: 130px;
  height: 150px;
  filter: drop-shadow(1px 1px 0 #fff)
    drop-shadow(-1px -1px 0 #fff);
}

.optional-bar {
  margin-top: 5px;
  display: flex;
  height: 60px;
  background-color: transparent;
  justify-content: space-around;
}

.winning-animation {
  animation: wiggle 0.4s linear infinite;
}

.show-coins-over-message {
  width: 500px;
  height: 100px;
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 138px;
  top: 100px;
  color: #fff;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid darkgoldenrod;
}

.message {
  background-color: transparent;
  height: 50px;
  font-size: 2.5em;
}

.try-again {
  background-color: transparent;
  margin-top: 0.5em;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  outline: none;
  width: 150px;
  height: 30px;
}

.hide-coins-over-message {
  display: none;
}

.show-coins-counter {
  width: 250px;
  height: 50px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 263px;
  top: 400px;
  border-radius: 3%;
  z-index: 1;
  border: 1px solid darkgoldenrod;
  vertical-align: middle;
}

.coins-amount {
  background-color: transparent;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 3em;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 47px;
}

.hide-coins-counter {
  display: none;
}

.btn-active {
  background: yellow;
  position: relative;
  z-index: 1;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 60px;
  transition: 0.2s ease-in-out;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 50px;
  font-family: 'Butcherman';
  line-height: 50%;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #696969,
    0 0 30px #696969,
    0 0 40px #696969;
}

.btn-disabled {
  position: relative;
  z-index: 1;
  transition: .3s ease-in-out;
  width: 150px;
  height: 60px;
  pointer-events: none;
  border: none;
  color: white;
  font-size: 40px;
  font-family: 'Butcherman';
  line-height: 50%;
  background: transparent;
  outline: none;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #ff0080,
    0 0 30px #ff0080,
    0 0 40px #ff0080;
}

.stats {
  width: 200px;
  height: 50px;
  color: #fff;
  cursor: default;
  text-align: center;
  background: transparent;
  user-select: none;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #00BFFF,
  0 0 30px #00BFFF,
  0 0 40px #00BFFF,
  0 0 55px #00BFFF,
  0 0 75px #00BFFF;;
}

.value {
  padding-top: 5px;
  font-size: 1.5em;
  user-select: none;
}

i {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.arrow-pressed {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  cursor: pointer;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 10%;
}

.slots.spinning .outer-col:nth-of-type(2) .col {
  animation-delay: 0.1s;
}

.slots.spinning .outer-col:nth-of-type(3) .col  {
  animation-delay: 0.2s;
}

.slots.spinning .outer-col:nth-of-type(4) .col {
  animation-delay: 0.3s;
}

.slots.spinning .outer-col:nth-of-type(5) .col {
  animation-delay: 0.4s;
}

.slots.spinning .outer-col:nth-of-type(6) .col {
  animation-delay: 0.5s;
}

.slots.spinning .col {
  animation: scroll 3s cubic-bezier(.7,0,.7,1) 1, blur 3s cubic-bezier(.7,0,.7,1) 1;
  animation-direction: reverse;
}

@keyframes scroll {
  0% {transform: translate3d(0,0,0);}
  10% {transform: translate3d(0,10px,0);}
  /*90% {transform: translate3d(0,calc(-100% + 482px),0);}*/
  100% {transform: translate3d(0,calc(-100% + 482px),0);}
}

@keyframes blur {
  0% {filter: blur(0);}
  10% {filter: blur(0);}
  0% {filter: blur(0);}
  30% {filter: blur(0);}
  40% {filter: blur(4px);}
  50% {filter: blur(6px);}
  80% {filter: blur(0);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(10deg);}
}