.st0{stroke:#000000;stroke-width:3.5065;}
.st1{fill:#703838;stroke:#703838;stroke-width:3.5065;}
.st2{fill:#9C5050;stroke:#9C5050;stroke-width:3.5065;}
.st3{fill:#804040;stroke:#804040;stroke-width:3.5065;}
.st4{fill:#773C3C;stroke:#773C3C;stroke-width:3.5065;}
.st5{fill:#783C3C;stroke:#783C3C;stroke-width:3.5065;}
.st6{opacity:0.65;stroke:#000000;stroke-width:3.5065;enable-background:new    ;}
.st7{fill:#522A2A;stroke:#522A2A;stroke-width:3.5065;}
.st8{fill:#663333;stroke:#663333;stroke-width:3.5065;}
.st9{fill:#5B2E2E;stroke:#5B2E2E;stroke-width:3.5065;}
.st10{fill:#673333;stroke:#673333;stroke-width:3.5065;}
.st11{opacity:0.41;stroke:#000000;stroke-width:3.5065;enable-background:new    ;}
.st12{fill:#6E3737;stroke:#6E3737;stroke-width:3.5065;}
.st13{fill:#6F3838;stroke:#6F3838;stroke-width:3.5065;}
.st14{fill:#55A2A2;stroke:#55A2A2;stroke-width:3.5065;}
.st15{fill:#438383;stroke:#438383;stroke-width:3.5065;}
.st16{fill:#8A4747;stroke:#8A4747;stroke-width:3.5065;}
.st17{fill:#509A9A;stroke:#509A9A;stroke-width:3.5065;}
.st18{fill:#3C7676;stroke:#3C7676;stroke-width:3.5065;}
.st19{fill:#5BADAD;stroke:#5BADAD;stroke-width:3.5065;}
.st20{fill:#5CAEAE;stroke:#5CAEAE;stroke-width:3.5065;}
.st21{fill:#4F9A9A;stroke:#4F9A9A;stroke-width:3.5065;}
.st22{fill:#284C4C;stroke:#284C4C;stroke-width:3.5065;}
.st23{fill:#326060;stroke:#326060;stroke-width:3.5065;}
.st24{fill:#3A6F6F;stroke:#3A6F6F;stroke-width:3.5065;}
.st25{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:3.5065;}
.st26{fill:#4A9191;stroke:#4A9191;stroke-width:3.5065;}
.st27{fill:#E6E6E6;stroke:#E6E6E6;stroke-width:3.5065;}
.st28{fill:#458989;stroke:#458989;stroke-width:3.5065;}
.st29{fill:#305C5C;stroke:#305C5C;stroke-width:3.5065;}
.st30{fill:#DE4256;stroke:#DE4256;stroke-width:3.5065;}
.st31{fill:#FFF6DF;stroke:#FFF6DF;stroke-width:3.5065;}
.st32{fill:#6E141B;stroke:#6E141B;stroke-width:3.5065;}
.st33{fill:#A01D28;stroke:#A01D28;stroke-width:3.5065;}
.st34{fill:#A29C8F;stroke:#A29C8F;stroke-width:3.5065;}
.st35{fill:#B4202D;stroke:#B4202D;stroke-width:3.5065;}
.st36{fill:#9A1C27;stroke:#9A1C27;stroke-width:3.5065;}
.st37{fill:#FE6501;stroke:#FE6501;stroke-width:3.5065;}
.st38{fill:#681319;stroke:#681319;stroke-width:3.5065;}
.st39{fill:#CA2433;stroke:#CA2433;stroke-width:3.5065;}
.st40{fill:#BA212F;stroke:#BA212F;stroke-width:3.5065;}
.st41{fill:#FF6600;stroke:#FF6600;stroke-width:3.5065;}
.st42{fill:#DF4757;stroke:#DF4757;stroke-width:3.5065;}
.st43{fill:#DF4656;stroke:#DF4656;stroke-width:3.5065;}
.st44{fill:#B9212E;stroke:#B9212E;stroke-width:3.5065;}
.st45{fill:#E15261;stroke:#E15261;stroke-width:3.5065;}
.st46{fill:#E87582;stroke:#E87582;stroke-width:3.5065;}
.st47{opacity:0.55;stroke:#000000;stroke-width:3.5065;enable-background:new    ;}
.st48{fill:#57A6A6;stroke:#57A6A6;stroke-width:3.5065;}
.st49{fill:#439494;stroke:#439494;stroke-width:3.5065;}
.st50{opacity:0.56;stroke:#000000;stroke-width:3.5065;enable-background:new    ;}
.st51{fill:#357C7C;stroke:#357C7C;stroke-width:3.5065;}
.st52{fill:#378080;stroke:#378080;stroke-width:3.5065;}
.st53{fill:#306161;stroke:#306161;stroke-width:3.5065;}
.st54{opacity:0.46;stroke:#000000;stroke-width:3.5065;enable-background:new    ;}
.st55{fill:#419090;stroke:#419090;stroke-width:3.5065;}
.st56{fill:#58A8A8;stroke:#58A8A8;stroke-width:3.5065;}
.st57{fill:#4D9696;stroke:#4D9696;stroke-width:3.5065;}
.st58{fill:#203E3E;stroke:#203E3E;stroke-width:3.5065;}
.st59{fill:#408E8E;stroke:#408E8E;stroke-width:3.5065;}
.st60{fill:#56A4A4;stroke:#56A4A4;stroke-width:3.5065;}
.st61{fill:#276161;stroke:#276161;stroke-width:3.5065;}
.st62{fill:#3A7070;stroke:#3A7070;stroke-width:3.5065;}
.st63{fill:#317676;stroke:#317676;stroke-width:3.5065;}
.st64{fill:#3D7676;stroke:#3D7676;stroke-width:3.5065;}
.st65{fill:#337979;stroke:#337979;stroke-width:3.5065;}
.st66{fill:#307070;stroke:#307070;stroke-width:3.5065;}
.st67{fill:#468686;stroke:#468686;stroke-width:3.5065;}
.st68{fill:#306262;stroke:#306262;stroke-width:3.5065;}
.st69{fill:#6497FD;stroke:#6497FD;stroke-width:3.5065;}
.st70{fill:#00297C;stroke:#00297C;stroke-width:3.5065;}
.st71{fill:#307575;stroke:#307575;stroke-width:3.5065;}
.st72{fill:#3D7474;stroke:#3D7474;stroke-width:3.5065;}
.st73{fill:#02369D;stroke:#02369D;stroke-width:3.5065;}
.st74{fill:#0B44B5;stroke:#0B44B5;stroke-width:3.5065;}
.st75{fill:#1958D6;stroke:#1958D6;stroke-width:3.5065;}
.st76{fill:#124DC4;stroke:#124DC4;stroke-width:3.5065;}
.st77{fill:#2264E9;stroke:#2264E9;stroke-width:3.5065;}
.st78{fill:#1B5AD9;stroke:#1B5AD9;stroke-width:3.5065;}
.st79{fill:#2265EC;stroke:#2265EC;stroke-width:3.5065;}
.st80{fill:#104AC0;stroke:#104AC0;stroke-width:3.5065;}
.st81{fill:#2B71FF;stroke:#2B71FF;stroke-width:3.5065;}
.st82{fill:#507FDE;stroke:#507FDE;stroke-width:3.5065;}
.st83{fill:#3B7272;stroke:#3B7272;stroke-width:3.5065;}
.st84{fill:#0F49BE;stroke:#0F49BE;stroke-width:3.5065;}
.st85{fill:#1C5CDE;stroke:#1C5CDE;stroke-width:3.5065;}
.st86{fill:#185C5C;stroke:#185C5C;stroke-width:3.5065;}
.st87{fill:#112B62;stroke:#112B62;stroke-width:3.5065;}
.st88{fill:#0F4949;stroke:#0F4949;stroke-width:3.5065;}
.st89{fill:#226C6C;stroke:#226C6C;stroke-width:3.5065;}
.st90{fill:#2A7979;stroke:#2A7979;stroke-width:3.5065;}
.st91{fill:#4E9898;stroke:#4E9898;stroke-width:3.5065;}
.st92{fill:#56A5A5;stroke:#56A5A5;stroke-width:3.5065;}
.st93{fill:#0D4343;stroke:#0D4343;stroke-width:3.5065;}
.st94{fill:#386B6B;stroke:#386B6B;stroke-width:3.5065;}
.st95{fill:#0F4646;stroke:#0F4646;stroke-width:3.5065;}
.st96{fill:#3D7777;stroke:#3D7777;stroke-width:3.5065;}
.st97{fill:#0E4545;stroke:#0E4545;stroke-width:3.5065;}
.st98{fill:#3B7373;stroke:#3B7373;stroke-width:3.5065;}
.st99{fill:#D2D2D2;stroke:#D2D2D2;stroke-width:3.5065;}
.st100{fill:#B9B9B9;stroke:#B9B9B9;stroke-width:3.5065;}
.st101{fill:#D42200;stroke:#D42200;stroke-width:3.5065;}
.st102{fill:#A90000;stroke:#A90000;stroke-width:3.5065;}
.st103{fill:#BA0000;stroke:#BA0000;stroke-width:3.5065;}
.st104{fill:#8D0000;stroke:#8D0000;stroke-width:3.5065;}
.st105{fill:#CCCCCC;stroke:#CCCCCC;stroke-width:3.5065;}
.st106{fill:#9F9F9F;stroke:#9F9F9F;stroke-width:3.5065;}
.st107{fill:#9C0000;stroke:#9C0000;stroke-width:3.5065;}

.bb0{stroke:#000000;}
.bb1{fill:#FF81AB;stroke:#FF81AB;}
.bb2{fill:#FF5B96;stroke:#FF5B96;}
.bb3{fill:#FF468C;stroke:#FF468C;}
.bb4{fill:#FF267A;stroke:#FF267A;}
.bb5{fill:#FF6CA0;stroke:#FF6CA0;}
.bb6{fill:#FF5D98;stroke:#FF5D98;}
.bb7{fill:#FF2F7F;stroke:#FF2F7F;}
.bb8{fill:#FF1471;stroke:#FF1471;}
.bb9{fill:#FF0066;stroke:#FF0066;}
.bb10{opacity:0.42;stroke:#000000;enable-background:new    ;}
.bb11{opacity:0.43;stroke:#000000;enable-background:new    ;}
.bb12{fill:#FF5995;stroke:#FF5995;}
.bb13{fill:#FF659C;stroke:#FF659C;}
.bb14{fill:#FFF600;stroke:#FFF600;}
.bb15{fill:#BA004A;stroke:#BA004A;}
.bb16{fill:#FF70A2;stroke:#FF70A2;}
.bb17{fill:#FF6099;stroke:#FF6099;}
.bb18{fill:#FF4B8E;stroke:#FF4B8E;}
.bb19{fill:#FF2479;stroke:#FF2479;}
.bb20{fill:#FF2D7E;stroke:#FF2D7E;}
.bb21{fill:#FF1370;stroke:#FF1370;}
.bb22{fill:#FF126F;stroke:#FF126F;}
.bb23{fill:#519D9D;stroke:#519D9D;}
.bb24{fill:#5CAEAE;stroke:#5CAEAE;}
.bb25{fill:#4D9797;stroke:#4D9797;}
.bb26{fill:#284C4C;stroke:#284C4C;}
.bb27{fill:#DC0058;stroke:#DC0058;}
.bb28{fill:#326060;stroke:#326060;}
.bb29{fill:#458989;stroke:#458989;}
.bb30{fill:#FFFFFF;stroke:#FFFFFF;}
.bb31{fill:#E6E6E6;stroke:#E6E6E6;}
.bb32{fill:#3C7676;stroke:#3C7676;}
.bb33{fill:#4A9292;stroke:#4A9292;}
.bb34{fill:#5B5B5B;stroke:#5B5B5B;}
.bb35{fill:#E6E5E5;stroke:#E6E5E5;}
.bb36{fill:#D6D6D6;stroke:#D6D6D6;}
.bb37{fill:#B22024;stroke:#B22024;}
.bb38{fill:#980708;stroke:#980708;}
.bb39{fill:#B32025;stroke:#B32025;}
.bb40{fill:#E87683;stroke:#E87683;}
.bb41{fill:#99080A;stroke:#99080A;}
.bb42{fill:#D44A55;stroke:#D44A55;}
.bb43{fill:#E67380;stroke:#E67380;}
.bb44{fill:#C83A44;stroke:#C83A44;}
.bb45{fill:#DE4256;stroke:#DE4256;}
.bb46{fill:#2B5454;stroke:#2B5454;}
.bb47{fill:#FFF6DF;stroke:#FFF6DF;}
.bb48{opacity:0.73;stroke:#000000;enable-background:new    ;}
.bb49{fill:#383838;stroke:#383838;}
.bb50{fill:#E7E7E7;stroke:#E7E7E7;}
.bb51{fill:#9C978A;stroke:#9C978A;}
.bb52{fill:#1A1A1A;stroke:#1A1A1A;}
.bb53{fill:#6A5E56;stroke:#6A5E56;}
.bb54{fill:#473F3B;stroke:#473F3B;}
.bb55{fill:#CCCCCC;stroke:#CCCCCC;}
.bb56{fill:#DF4959;stroke:#DF4959;}
.bb57{fill:#C1C1C1;stroke:#C1C1C1;}
.bb58{fill:#666666;stroke:#666666;}
.bb59{fill:#333333;stroke:#333333;}
.bb60{fill:#353535;stroke:#353535;}
.bb61{fill:#4F4F4F;stroke:#4F4F4F;}
.bb62{fill:#463E3A;stroke:#463E3A;}
.bb63{fill:#7E7067;stroke:#7E7067;}
.bb64{fill:#E87380;stroke:#E87380;}
.bb65{fill:#464646;stroke:#464646;}
.bb66{fill:#494949;stroke:#494949;}
.bb67{fill:#E25666;stroke:#E25666;}
.bb68{fill:#373737;stroke:#373737;}
.bb69{fill:#444444;stroke:#444444;}
.bb70{fill:#3C3C3C;stroke:#3C3C3C;}
.bb71{fill:#575757;stroke:#575757;}
.bb72{fill:#378080;stroke:#378080;}
.bb73{fill:#C5C5C5;stroke:#C5C5C5;}
.bb74{fill:#242424;stroke:#242424;}
.bb75{fill:#306161;stroke:#306161;}
.bb76{fill:#C9C9C9;stroke:#C9C9C9;}
.bb77{fill:#282828;stroke:#282828;}
.bb78{fill:#AFAFAF;stroke:#AFAFAF;}
.bb79{fill:#307575;stroke:#307575;}
.bb80{fill:#408E8E;stroke:#408E8E;}
.bb81{fill:#56A4A4;stroke:#56A4A4;}
.bb82{fill:#4D9595;stroke:#4D9595;}
.bb83{fill:#407E7E;stroke:#407E7E;}
.bb84{fill:#9E9E9E;stroke:#9E9E9E;}
.bb85{fill:#3C7373;stroke:#3C7373;}
.bb86{fill:#3B3B3B;stroke:#3B3B3B;}
.bb87{fill:#3B7272;stroke:#3B7272;}
.bb88{fill:#262626;stroke:#262626;}
.bb89{fill:#545454;stroke:#545454;}
.bb90{fill:#423C38;stroke:#423C38;}
.bb91{fill:#645851;stroke:#645851;}
.bb92{fill:#2E2E2E;stroke:#2E2E2E;}
.bb93{fill:#519C9C;stroke:#519C9C;}
.bb94{fill:#2F5B5B;stroke:#2F5B5B;}
.bb95{fill:#3E7777;stroke:#3E7777;}
.bb96{fill:#3C7474;stroke:#3C7474;}
.bb97{fill:#58A8A8;stroke:#58A8A8;}
.bb98{fill:#458282;stroke:#458282;}
.bb99{fill:#438181;stroke:#438181;}
.bb100{fill:#356363;stroke:#356363;}
.bb101{fill:#B7B8B8;stroke:#B7B8B8;}
.bb102{fill:#F2F2F2;stroke:#F2F2F2;}
.bb103{fill:#FAFAFA;stroke:#FAFAFA;}
.bb104{fill:#C0C0C0;stroke:#C0C0C0;}
.bb105{fill:#B1B1B1;stroke:#B1B1B1;}
.bb106{fill:#1F1F1F;stroke:#1F1F1F;}
.bb107{fill:#2C2C2C;stroke:#2C2C2C;}
.bb108{fill:#2B2B2B;stroke:#2B2B2B;}
.bb109{fill:#151515;stroke:#151515;}